nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     }
    
    ul {
    position: relative;
    display: flex;
    }

    ul li {
    list-style: none;
    width: 120px;
    line-height: 40px;
    text-align: center;
    }
    
    ul li {
        color: white;
        text-decoration: none;
    }
    
    .slider {
    width: 100px;
    height: 40px;
    background-color: #5352ed;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: -1;
    transition: all ease 0.4s;
    animation: 2s ease-in-out waves infinite;
    }
    
    li:nth-child(1):hover ~ .slider {
    left: 10px;
    }
    
    li:nth-child(2):hover ~ .slider {
     left: 128px;
    }
   