* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i46v{
  background-image:url('https://raw.githubusercontent.com/XieBrok/XieBrok.github.io/main/files/Background.avif');
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:scroll;
  background-size:cover;
}
#i62vr{
  height:200px;
}
header{
  background-color:rgb(255, 255, 255);
}
header .navbar-nav a.nav-link{
  color:rgb(119, 119, 119);
}
header .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header .navbar-nav .active a.nav-link{
  color:rgb(68, 68, 68);
}
header .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link{
  color:rgb(220, 220, 220);
}
header.bg-dark .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header.bg-dark .navbar-nav .active a.nav-link{
  color:rgb(255, 255, 255);
}
header.bg-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header + header{
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:rgb(238, 238, 238);
}
.c142093{
  padding:10px;
  font-weight:500;
  font-family:"PingFang SC", sans-serif;
}
.fdb-block{
  font-family:Roboto, sans-serif;
  font-size:16px;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  padding-top:100px;
  padding-right:0px;
  padding-bottom:100px;
  padding-left:0px;
  color:rgb(68, 68, 68);
  position:relative;
  background-position-x:center;
  background-position-y:center;
}
.text-center{
  text-align:center;
}
.fdb-block .text-h1, .fdb-block h1{
  font-size:1.75rem;
  margin-bottom:0.5em;
  margin-top:0.3em;
  font-weight:400;
}
.img-fluid{
  max-width:100%;
  height:101px;
  width:412px;
}
.pb-5{
  padding-bottom:3rem !important;
}
.c143164{
  box-sizing:inherit;
  margin-right:0px;
  margin-bottom:0.35em;
  margin-left:0px;
  font-family:Inter, sans-serif;
  font-size:2.7849rem;
  line-height:1.167;
  color:rgb(30, 32, 34);
  font-weight:700;
  text-align:start;
}
.MuiTypography-root.MuiTypography-h3.MuiTypography-gutterBottom.css-14tid4u.c143164{
  background-color:rgba(0,0,0,0);
  color:#528bff;
}
.c143189{
  box-sizing:inherit;
}
.c143181{
  box-sizing:inherit;
  margin:0px;
  color:rgb(55, 125, 255);
  background:linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}
.c143244{
  box-sizing:inherit;
}
.fdb-block .col-fill-left{
  width:50%;
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  background-size:cover;
  background-position-x:center;
  background-position-y:center;
  z-index:1;
}
a{
  color:rgb(0, 123, 255);
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  background-color:transparent;
}
a:hover{
  color:rgb(0, 86, 179);
  text-decoration-line:underline;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
.row.justify-content-end{
  background-image:none;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
.fdb-block.mc{
  background-image:url('https://github.com/XieBrok/XieBrok.github.io/blob/main/files/MC.png?raw=true');
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:scroll;
  background-size:cover;
}
.text-h3{
  color:#ffffff;
  text-align:center;
  font-family:"Microsoft Yahei", sans-serif;
  font-size:20px;
}
.c2573{
  color:black;
  width:418px;
}
