* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i46v{
  background-image:url('https://github.com/XieBrok/XieBrok.github.io/blob/main/files/Head.JPG?raw=true');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:cover;
}
#ihjm{
  height:250px;
  en:1;
}
#ibnl{
  width:40%;
  en:1;
  height:75px;
}
#i4jzl{
  box-sizing:inherit;
  margin:0px;
  color:rgb(55, 125, 255);
  background:linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}
#iheyn{
  box-sizing:inherit;
}
#iwudo{
  box-sizing:inherit;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c77277{
  width:60%;
}
.c77678{
  color:black;
  width:98%;
  height:302.43%;
  float:left;
  position:relative;
}
.c78189{
  box-sizing:inherit;
  margin:0px 0px 0.35em;
  font-family:Inter, sans-serif;
  font-size:2.7849rem;
  line-height:1.167;
  color:rgb(30, 32, 34);
}
.MuiTypography-root.MuiTypography-h3.MuiTypography-gutterBottom.css-14tid4u.c78189{
  float:left;
  width:100%;
  text-align:center;
}
.c79692{
  padding:5px;
  min-height:100px;
  min-width:100px;
  background-color:#05fac9;
  display:inline-block;
  width:25%;
  height:50%;
  background-image:url('https://github.com/XieBrok/XieBrok.github.io/blob/main/files/b1.png?raw=true');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:cover;
  vertical-align:baseline;
  position:relative;
  left:150px;
  bottom:10px;
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
@media (max-width: 480px){
  .c77678{
    width:281.594px;
  }
  .MuiTypography-root.MuiTypography-h3.MuiTypography-gutterBottom.css-14tid4u.c78189{
    background-color:#ffffff;
  }
}
