* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i46v{
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:scroll;
  background-size:cover;
  background-image:url('https://raw.githubusercontent.com/XieBrok/XieBrok.github.io/main/files/Background.avif');
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#i62vr{
  height:50px;
}
header{
  background-color:rgb(255, 255, 255);
}
header .navbar-nav a.nav-link{
  color:rgb(119, 119, 119);
}
header .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header .navbar-nav .active a.nav-link{
  color:rgb(68, 68, 68);
}
header .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link{
  color:rgb(220, 220, 220);
}
header.bg-dark .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header.bg-dark .navbar-nav .active a.nav-link{
  color:rgb(255, 255, 255);
}
header.bg-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header + header{
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:rgb(238, 238, 238);
}
.c142093{
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  font-weight:500;
  font-family:"PingFang SC", sans-serif;
}
.fdb-block{
  font-family:Roboto, sans-serif;
  font-size:16px;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  padding-top:100px;
  padding-right:0px;
  padding-bottom:100px;
  padding-left:0px;
  color:rgb(68, 68, 68);
  position:relative;
  background-position-x:50%;
  background-position-y:50%;
}
.text-center{
  text-align:center;
}
.fdb-block .text-h1, .fdb-block h1{
  font-size:1.75rem;
  margin-bottom:0.5em;
  margin-top:0.3em;
  font-weight:400;
}
.img-fluid{
  max-width:100%;
  height:101px;
  width:412px;
}
.pb-5{
  padding-bottom:3rem !important;
}
.c143164{
  box-sizing:inherit;
  margin-right:0px;
  margin-bottom:0.35em;
  margin-left:0px;
  font-family:Inter, sans-serif;
  font-size:2.7849rem;
  line-height:1.167;
  color:rgb(30, 32, 34);
  font-weight:700;
  text-align:start;
}
.MuiTypography-root.MuiTypography-h3.MuiTypography-gutterBottom.css-14tid4u.c143164{
  background-color:rgba(0, 0, 0, 0);
  color:rgb(82, 139, 255);
}
.c143189{
  box-sizing:inherit;
}
.c143181{
  box-sizing:inherit;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  color:rgb(55, 125, 255);
  background-image:linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:initial;
}
.c143244{
  box-sizing:inherit;
}
.fdb-block .col-fill-left{
  width:50%;
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  background-size:cover;
  background-position-x:50%;
  background-position-y:50%;
  z-index:1;
}
a{
  color:rgb(0, 123, 255);
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  background-color:transparent;
}
a:hover{
  color:rgb(0, 86, 179);
  text-decoration-line:underline;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
.row.justify-content-end{
  background-image:none;
  background-repeat:repeat;
  background-position-x:left;
  background-position-y:top;
  background-attachment:scroll;
  background-size:auto;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c22953{
  background-color:rgba(0,0,0,0);
  font-weight:600;
  padding:10px;
  margin:10px;
  display:block;
  overflow:auto;
}
.c23048{
  margin-block:0px;
  padding:0px;
  font-weight:bold;
  line-height:normal;
  font-size:2.412rem;
  font-family:"Sitka Heading", Georgia, Cambria, Calibri;
  margin-bottom:1.535rem;
  color:rgb(51, 51, 51);
  background-color:rgb(252, 252, 252);
  margin-top:0px !important;
}
.__reading__mode__extracted__title.c0011.c23048{
  background-color:rgba(0,0,0,0);
  color:#ffffff;
  font-weight:700;
  line-height:200%;
}
.c23375{
  padding:10px;
}
.c23471{
  color:#ffffff;
  font-family:"Microsoft Yahei", sans-serif;
  font-size:30px;
  display:block;
  overflow:auto;
}
.c23765{
  padding:10px;
}
@media (max-width: 992px){
  .c23471{
    overflow:auto;
    margin:10px;
    padding:10px;
  }
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
@media (max-width: 480px){
  .c23471{
    display:block;
    padding:10px;
    margin:5px;
  }
}
